nav{
	top: 0;
	width: 100%;
	position: fixed;
	margin: auto;
	background-color: white;
	height: 50px;
}

.centerIcons{
	/*display: block;
	width: 20vw;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	text-align: center;*/

	position: absolute;
	left: 50%;
}

.leftIcons{
	position: absolute;
	left: 0;
}

.rightIcons{
	position: absolute;
	right: 0;
}

.navbar-img{
	height: 50px;
}