body{
	background-color: #768692;
	margin: 0;
	font-family: 'Poppins', sans-serif, Times;
}

nav {
	top: 0;
	width: 100%;
	position: fixed;
	background-color: 	#425563;
	height: 50px;
	z-index: 10;
	display: inline-block;
	left: 0;
}

.navbar-img {
	height: 50px;
}

.leftIcons {
	position: absolute;
	left: 5px;
	height: 50px;
}

.centerIcons {
	margin-top: 10px;
	margin-bottom: 10px;
	position: absolute;
	left: 25%;
	width: 50%;
	height: 30px;
	padding: 0;
	align-content: center;
}

.search-bar {
	width: 80%;
	height: 95%;
}

.rightIcons {
	position: absolute;
	width: 22%;
	height: 100%;
	padding-right: 0;
	margin-left: auto;
	margin-right: 5px;
	border-right: 0;
	right: 0;
	display: flex;
	justify-content: flex-end;
}

.main-video {
	position: relative;
	top: 50px;
	padding-bottom: 36.25%;
	padding-top: 25px;
	height: 0;
	background-color: black;
	left: 0;
	right: 0;
	width: 100%;
}

.main-video .video {
	position: absolute;
	top: 0;
	left: 15%;
	width: 70%;
	height: 100%;
	border: 0;
}

.title-container{
	position: relative;
	top: 50px;
}

.video-title{
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 20%;
	background-color: rgb(232, 237, 238);
	background-color: rgba(232, 237, 238, 0.5);
	font-size: 2em;
	font-weight: bolder;
}

.info {
	display: flex;
	top: 50px;
	position: relative;
	width: 100%;
}

.video-views {
	width: 84%;
	padding-left: 10px;
}

.video-actions {
	position: relative;
	width: 16%;
	display: flex;
	margin: auto;
	justify-content: flex-end;
	align-items: center;
}

.flex-img {
	margin-right: 5px;
	margin-left: 5px;
}

.likeIcon,
.dislikeIcon,
.shareIcon {
	height: 40px;
}

.sepLine {
	position: relative;
	top: 50px;
}

.description-and-side {
	display: flex;
	top: 50px;
	position: relative;
}

.main-div {
	width: 70%;
	height: 100px;
	display: flex;
	background-color: rgb(232, 237, 238);
	background-color: rgba(232, 237, 238, 0.5);
	margin-right: 10px;
}

.user-data {
	display: flex;
	width: 75%;
}

.avatarContainer {
	justify-content: center;
	align-items: center;
	display: flex;
}

.userAvatar {
	width: 200px;
	margin: auto;
	border-radius: 100%;
	height: 100px;
	margin-left: 5px;
}

.user-name {
	width: 35%;
	text-align: left;
	margin-left: 20px;
	margin-top: auto;
	margin-bottom: auto; 
}

.user-name h4, .user-name p{
	margin-top: auto;
	margin-bottom: auto;
	padding-bottom: 5px;
	padding-top: 5px;
}

.subscribe {
	width: 25%;
	display: flex;
	justify-content: flex-end;
	margin-right: 5px;
}

.subscribeIcon {
	height: 100%;
	border-radius: 10%;
}

.side-div {
	width: 30%;
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;
	background-color: rgb(232, 237, 238);
	background-color: rgba(232, 237, 238, 0.5);
}

.vid-wrap {
	display: flex;
	width: 100%;
}

.side-img {
	width: 50%;
}

.videoImg {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.side-desc {
	width: 50%;
	text-align: center;
	margin: auto;
}
