nav{
	top: 0;
	width: 100%;
	position: fixed;
	background-color: white;
	height: 50px;
}

.centerIcons{
	/*display: block;
	width: 20vw;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	text-align: center;*/
	top: 25%;
	position: absolute;
	left: 25%;
}

.leftIcons{
	position: absolute;
	left: 0;
}

.rightIcons{
	position: absolute;
	right: 15px;
}

.navbar-img{
	height: 50px;
}

#main-video{
	top: 58px;
}